.standardpage {
  /*code for base of any page*/
  background-image: url(https://cdn.pixabay.com/video/2024/03/19/204739-925166451_tiny.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica;
  color: white;
  scroll-behavior: smooth;
}
.nav {
  /*code for Nav bar outside of all elements*/
  width: 100%;
  list-style: none;
  display: flex;
}

ul {
  /*code for Nav bar code for making a list*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

li {
  /*code for Nav bar elements in my list - need to figure out a way to automate if add more tabs*/
  display: inline-block;
  margin: 30px;
  width: 15%;
}

li:first-child {
  /*code for Nav bar moving the first element*/
  text-align: start;
}

li a {
  /*code for Nav bar making the individual elements in the list look nice*/
  display: inline-block;
  color: white;
  font-size: 100%;
  text-decoration: none;
}

li a:hover {
  /*code for Nav bar when hover over a list changes the color of the writing - not a highlight*/
  color: lightblue;
}

.mainpageheader {
  /*mainpage header - making it midway down page*/
  margin: 20%;
}

.mainpagebutton {
  /*making a button that takes me to another page*/
  border: solid 5px white;
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.mainpagebutton:hover {
  /*when hover over button creates shadow and highlights the button - need to figure out how to do a slow fill of the box*/
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 0 5px 35px 0px rgba(255, 255, 255, 0.795);
  background-color: rgba(0, 84, 162, 0.776);
  border-color: black;
  transition-duration: 1.5s;
}

.landingpage {
  /*landing page generic info*/
  background-image: url(https://cdn.pixabay.com/video/2024/03/19/204739-925166451_tiny.jpg),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQuH1z2ERKeqjl0wF_FnfoIQwkuZKERoo-gw&s);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  font-family: Helvetica;
  color: white;
  width: 100%;
  height: 100%;
}

.animation {
  /*animiation for tv stacic - background-image from internet*/

  background-image: repeating-radial-gradient(
    circle at 17% 32%,
    white,
    black 0.00085px
  );
  background-position: center;
  animation: back 5s linear infinite;
  border-radius: 10px;
  width: 800px;
  height: 400px;
  margin-left: 30%;
  margin-top: 10%;
  opacity: 0;
}

.animation:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 3s;
}

@keyframes /*basic but works - i imagine its easier in JS*/ back {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}

.landingpagebutton {
  /*making a landing button that takes me to home page*/
  border: none;
  border-radius: 10px;
  width: 800px;
  height: 400px;
  margin-top: 10%;
  text-decoration: none;
  color: white;
  opacity: 0;
}

.landingpagebutton:hover {
  /*when hover over button creates shadow and highlights the button*/
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition-duration: 3s;
  transition-delay: 3s;
  opacity: 0.85;
}

.deathstarimage {
  /*image placement on deathstar page*/
  position: absolute;
  top: 10%;
  right: 5%;
  height: 25%;
  width: 20%;
  filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(93%)
    contrast(107%);
}
.falconimage {
  /*image placement on millinium falcon page*/
  position: absolute;
  top: 10%;
  right: 5%;
  height: 25%;
  width: 20%;
}
.slaveIimage {
  /*image placement on Slave I page*/
  position: absolute;
  top: 10%;
  right: 5%;
  height: 25%;
  width: 20%;
  filter: invert(0%) sepia(4%) saturate(0%) hue-rotate(337deg) brightness(93%)
    contrast(107%);
}

.stardestroyerimage {
  /*image placement on star destroyer page*/
  position: absolute;
  top: 10%;
  right: 5%;
  height: 25%;
  width: 20%;
}

.publisherfooter {
  /*placing name on bottom right*/
  position: fixed;
  left: -1%;
  bottom: 2%;
  width: 100%;
  text-align: right;
  font-style: italic;
}

.fa-instagram {
  /*placing intagram photo*/
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  background: radial-gradient(
    circle at 30% 110%,
    #ffdb8b 0%,
    #ee653d 25%,
    #d42e81 50%,
    #a237b6 75%,
    #3e57bc 100%
  );
  border-radius: 10px;
  opacity: 0.1;
}

.fa-facebook {
  /*placing intagram photo*/
  position: fixed;
  bottom: 2%;
  left: 5%;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  opacity: 0.1;
  background-color: #1877f2;
}

.fa:hover {
  /*generic hover for social media*/
  box-shadow: 0 5px 35px 0px rgba(255, 255, 255, 0.795);
  opacity: 1;
}

.falconhistory {
  /*making a button that takes me to a link page*/
  border: solid 5px white;
  display: inline-flex;
  padding: 10px;
  margin-top: 20%;
  margin-left: 45%;
  color: white;
  text-decoration: none;
}

.falconhistory:hover {
  /*when hover over button creates shadow and highlights the button - need to figure out how to do a slow fill of the box*/
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 0 5px 35px 0px rgba(255, 255, 255, 0.795);
  background-color: rgba(0, 84, 162, 0.776);
  border-color: black;
  transition-duration: 1.5s;
}

.falcontext {
  /*generic text needed for information*/
  margin-top: 100%;
  font-size: larger;
  padding: 2%;
  color: orange;
  border-radius: 10px;
  padding: 10%;
}

.slave1history {
  /*making a button that takes me to a link page*/
  border: solid 5px white;
  display: inline-flex;
  padding: 10px;
  margin-top: 20%;
  margin-left: 45%;
  color: white;
  text-decoration: none;
}

.slave1history:hover {
  /*when hover over button creates shadow and highlights the button - need to figure out how to do a slow fill of the box*/
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 0 5px 35px 0px rgba(255, 255, 255, 0.795);
  background-color: rgba(0, 84, 162, 0.776);
  border-color: black;
  transition-duration: 1.5s;
}

.slave1text {
  /*generic text needed for information*/
  margin-top: 90%;
  font-size: larger;
  padding: 2%;
  color: orange;
  border-radius: 10px;
  padding: 10%;
}

.deathhistory {
  /*making a button that takes me to a link page*/
  border: solid 5px white;
  display: inline-flex;
  padding: 10px;
  margin-top: 20%;
  margin-left: 45%;
  color: white;
  text-decoration: none;
}

.deathhistory:hover {
  /*when hover over button creates shadow and highlights the button - need to figure out how to do a slow fill of the box*/
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 0 5px 35px 0px rgba(255, 255, 255, 0.795);
  background-color: rgba(0, 84, 162, 0.776);
  border-color: black;
  transition-duration: 1.5s;
}

.deathtext {
  /*generic text needed for information*/
  margin-top: 100%;
  font-size: larger;
  padding: 2%;
  color: orange;
  border-radius: 10px;
  padding: 10%;
}

.sdhistory {
  /*making a button that takes me to a link page*/
  border: solid 5px white;
  display: inline-flex;
  padding: 10px;
  margin-top: 20%;
  margin-left: 45%;
  color: white;
  text-decoration: none;
}

.sdeath:hover {
  /*when hover over button creates shadow and highlights the button - need to figure out how to do a slow fill of the box*/
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 0 5px 35px 0px rgba(255, 255, 255, 0.795);
  background-color: rgba(0, 84, 162, 0.776);
  border-color: black;
  transition-duration: 1.5s;
}

.sdtext {
  /*generic text needed for information*/
  margin-top: 100%;
  font-size: larger;
  padding: 2%;
  color: orange;
  border-radius: 10px;
  padding: 10%;
}
.top {
  /*button for back to top it took a while to work out*/
  --offset: 50px;

  position: sticky;
  bottom: 20px;
  margin-left: 85%;
  margin-top: calc(
    100vh + var(--offset)
  ); /*took me ages to work this out - apparently its JS*/
  text-decoration: none;
  padding: 10px;
  color: #fff;
  background: #000;
  border-radius: 100px;
  white-space: nowrap;
}
